<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authentication APP TEST</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
          <h1>Authentication APP</h1>
          <a href="/login" class="btn btn-default">Login</a>
          <a href="/sigup" class="btn btn-default">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
